@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/helvetica_regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/helvetica_regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/roboto-v30-latin-regular.woff2') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* ROOT */
:root{
    /* colors */
    --colorPrimary: #fff;
    --colorSecondary: #fff;
    /* backgrounds */
    --backgroundPrimary: #fff;
    --backgroundSecondary: #fff;
    /* fonts */
    --fontPrimary: Arial, Helvetica, sans-serif;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    background-color: #000;
}

main{
    flex-grow: 1;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}


.hero-bg{
    background-image: url("../assets/images/left-bg.png"), url("../assets/images/right-bg.png");
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: calc(50% - 820px) calc(50% - 40px), calc(50% + 800px) calc(50% - 40px);
}


.site-header{
    background: rgba(0, 0, 0, 0.6);
}

.header-top{
    padding: 5px 0;
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);   
}

.site-year{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child){
    margin-right: 32px;
}

.nav__link{
    font-size: 17px;
    line-height: 27px;
    text-transform: capitalize;
    color: #848895;
}

.nav__link::after{
    content: url("../assets/images/Vector.svg");
    margin-left: 5px;
}

/* Hero style */

.hero__info{
    width: 777px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 166px;
    text-align: center;
}

.hero__title{
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 70px;
    line-height: 76px;
    letter-spacing: 0.68px;
    color: #FFFFFF;
}

.hero__desc{
    width: 590px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    font-size: 21px;
    line-height: 27px;
    color: #FFFFFF;
}

.hero__links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 121px;
}

.hero__left-link{
    display: inline-block;
    margin-right: 15px;
    padding: 16px 33px;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
    border: 1px solid #000000;
    border-radius: 36px;
}

.hero__right-link{
    display: inline-block;
    padding: 16px 33px;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 36px;
}


.networks{
    text-align: center;
    margin-bottom: 40px;
}

.networks__desc{
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #618ADC;
}


.network-img:not(:last-child){
    margin-right: 40px;
}
/* Hero style */




